<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care - BitWealth</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        h2 {
            color: #004080; /* Dark blue */
            text-align: center;
            margin-bottom: 20px;
        }

        h3 {
            color: #007BFF; /* Bright blue */
            margin-top: 20px;
        }

        p {
            margin-bottom: 15px;
            color: #333;
        }

        .link {
            color: #007BFF;
            text-decoration: none;
        }

        .link:hover {
            text-decoration: underline;
        }

        footer {
            margin-top: 30px;
            font-size: 12px;
            text-align: center;
            color: #777;
        }

        .contact-info {
            margin-top: 20px;
        }

        .contact-info ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        .contact-info li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>BitWealth</h2>
        <p>Hi,</p>
        <p>We hope this message finds you well.</p>
        <p>{{message}}</p>
        <div class="contact-info">
            <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
            <h3>Contact Us:</h3>
            <ul>
                <li>Email: <a href="mailto:bitwealth113@gmail.com" class="link">bitwealth113@gmail.com</a></li>
                <li>Phone: +123456789</li>
            </ul>
        </div>
        <p>Thank you for choosing BitWealth. We appreciate your business.</p>
        <footer>BitWealth</footer>
    </div>
</body>
</html>
